<div class="appointment">
  <div class="title">{{appointment.title}}</div>
  <div class="time">{{appointment.start | date: 'shortTime'}} - {{appointment.end | date: 'shortTime'}}</div>
  <div class="description">{{appointment.description}}</div>
</div>
<div class="appointment">
  <div class="title">{{appointment.title}}</div>
  <div class="time">{{appointment.start | date: 'shortTime'}} - {{appointment.end | date: 'shortTime'}}</div>
  <div class="description">{{appointment.description}}</div>
</div>
